.head-pic {
    height: 60px;
    width: 40px;
    background-color: #ffffff;
    margin: 2rem auto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}