.header {
    background-color: rgb(184, 184, 184);
    padding: 1.5em 0.5em;
    text-align: center;
    
    
    h2 {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

   
    
    li {
        padding: 0.5em 1em 0.5em 3em;
        height: 4rem;
        font-size: 0.95em;
        font-weight: regular;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: auto 20px;
        transition: all 0.15s linear;
        cursor: pointer;
        display: flex;
        align-items: center;

        mat-icon {
            cursor: pointer;
            color: #5e5e5e;
            transition: color 0.3s;
            width: 30px;
        
            &:hover {
              color: #2c2c2c;
            }
          }
    }

    li:hover {
        background-color: rgba(0,0,0,0.1);
    }

    .active {
        background-color: rgba(141, 210, 238, 0.395);
        font-weight: bold;
    }
}


a {
    color: black;
    text-decoration: none;
}

.del {
    margin: 2rem 6rem;
}