:host {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100vh;  
  background-color: #c3cfde;
}

.content {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
}

// 右邊圖區域
.pic {
  width: 35%;
  background:url('../../../../public/login.png') 0 0 no-repeat #005593;
  background-size: 100% 100%;
  box-shadow: 0 0 15px gray;
}

// 左邊文字區域
.account-info {
  width: 35%;
  height: 40rem;
  background-color: #f4f4f4;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0 0 15px gray;
}

.header {
  margin-bottom: 20px;
}

.nav {
  width: 200px;
  height: 5px;
  background-color: #005593;
  margin-bottom: 10%;
}


// email驗證狀態區域和按鈕
.email-status {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px
}

.email-text label {
  font-weight: bold;
  font-size: 20px;
}

// .btn-send {
//   display: flex;
//   padding: 8px 16px;
//   font-size: 1rem;
//   background-color: #4CAF50;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// .btn-send:hover {
//   background-color: #45a049;
// }

// .btn-send:active {
//   background-color: #388e3c;
// }

// .btn-send:disabled {
//   background-color: #ccc;
//   cursor: not-allowed;
// }


// 個人資料區域
.info-group {
  display: flex;
  margin-top: 2rem;

  label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    font-size: 20px;
  }
  
  span {
    font-size: 1rem;
    color: #666;
  }
}

// 下方按鈕
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}

.btn-update, .btn-delete {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 48%;
  
}

.btn-update {
  background-color: #909cf4;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.btn-update:hover {
  background-color: #676692;
}

.btn-update:active {
  background-color: #0a0b4b;
}

.btn-delete {
  background-color: #75f1db;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.btn-delete:hover {
  background-color: #63bfdb;
}

.btn-delete:active {
  background-color: #117a8f;
}
