<div class="content">
  <div class="pic"></div>

  <div class="login-info">
    <h3>歡迎！</h3>
    <div class="nav"></div>
    <span>法律雲平台登入系統</span>
    <div class="input">
      <input type="text" placeholder="請輸入Email">
      <input type="text" placeholder="請輸入密碼">
    </div>
    <span class="forgot-password">忘記密碼？</span>
    <button mat-raised-button class="login-btn">登入</button>
    <br>
    <div class="create-account">
      <span>還沒有帳號嗎？</span>
      <a class="create-account-link" (click)="gotoregister()">創建帳號</a>
    </div>
  </div>
</div>
