@font-face {
  font-family: 'TaipeiSansTCBeta';
  src: url('../../../../public/TaipeiSansTCBeta-Bold.ttf');
}


:host{
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%;  
  box-sizing: border-box;
  background-color: #ccd9ff40;
}

.login-info {
  margin: 0 auto;
  width: 35%;
  height: 80vh;
  padding: 1rem;
  padding-top: 2rem;
  
  h1 {
    font-family: 'TaipeiSansTCBeta' , 'sans-serif';
  }

  h3 {
    font-family: 'TaipeiSansTCBeta' , 'sans-serif';
  }

  .input {
    margin-top: 2rem;
    margin-bottom: 1em;
  }

  .email-area {
    height: 4rem
  }

  .pwd-area {
    margin-top: 1rem;
    height: 2rem;
  }

  .input-email {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
  }


  ::ng-deep .p-password {
    width: 100% !important; /* 父級容器寬度 */
    max-width: 100% !important;
  }

  ::ng-deep .p-password input.p-inputtext {
    width: 100% !important; /* 確保輸入框寬度 */
    max-width: 100% !important;
    background-color: #ffffff; /* 背景色 */
    border-radius: 5px; /* 圓角 */
  }



  .nav {
    width: 200px;
    height: 5px;
    background-color: #005593;
    margin-bottom: 10%;
  }

  .forget-password {
    display: block;
    text-align: end;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .create-account {
    display: flex;
    margin-top: 1rem;
    gap: 20px;
  }
  
  .create-account-link {
    color: rgb(52, 153, 255);
    cursor: pointer;
  }
  
  .login-btn {
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: #005593;
    border: none;
    color:white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  
}





