@font-face {
  font-family: 'GenKiMin';
  src: url('../../../../public/GenKiMin2TW-M.otf');
}


:host{
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%;  
  box-sizing: border-box;
  background-color: #ccd9ff40;
}

.container {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  flex-direction: column; /* 讓內容垂直排列 */
}

.login-info {
  margin: 0 auto;
  width: 50%;
  min-height: 75vh;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 15px gray;
  position: relative; /* 設置父容器為定位基準 */

  
  h1 {
    font-size: 40px;
    font-family: 'GenKiMin' , 'sans-serif';
  }

  h3 {
    font-family: 'GenKiMin' , 'sans-serif';
  }

  .input {
    margin-top: 2rem;
    margin-bottom: 1em;
  }

  .email-area {
    height: 4rem;
  }

  .pwd-area {
    margin-top: 1rem;
    height: 2rem;
  }

  .input-email {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    border: 2px solid #dedcdc;
  }

  .input-email:focus {
    border: 2px solid #10b981;
  }


  ::ng-deep .p-password {
    width: 100% !important; /* 父級容器寬度 */
    max-width: 100% !important;
  }

  ::ng-deep .p-password input.p-inputtext {
    width: 100% !important; /* 確保輸入框寬度 */
    max-width: 100% !important;
    background-color: #ffffff; /* 背景色 */
    border-radius: 5px; /* 圓角 */
    border: 2px solid #dedcdc;
  }

  ::ng-deep .p-password input.p-inputtext:focus {
    border: 2px solid #10b981;
  }



  .nav {
    width: 200px;
    height: 5px;
    background-color: #005593;
    margin-bottom: 2rem;
  }

  .forget-password {
    display: block;
    text-align: end;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 18px;
  }

  .login-btn {
    width: 9rem;
    height: 2.5rem;
    background-color: #005593;
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    bottom: 46px;
    left: 20px;
  }
  
  .create-account {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 18px;
  }
  
  .create-account-link {
    color: rgb(52, 153, 255);
    cursor: pointer;
  }
  


  
}





