:host {
  display: block;
  min-height: 100vh;              //確保覆蓋整個瀏覽器視口高度
  background-color: #ffffff;    //為特定頁面設置背景顏色
  padding: 20px;
  margin-top: 80px;
}

.filter-container {
  display: flex;
  justify-content: space-evenly; /* 左右分佈 */
  gap: 15px; /* 左右區域之間的間距 */
  padding: 10px;
}

.basic-filters,
.advanced-filters {
  background-color: #eaf2fb;
  border-radius: 8px;
  padding: 15px;
  flex: 1; /* 左右區域等寬 */
  max-width: 400px; /* 設置最大寬度 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 選中的法院容器 */
.selected-courts-container {
  background-color: #ffffff; /* 白色背景 */
  padding: 10px;
  margin-top: 10px; /* 與上方間距 */
  border: 1px solid #d1d1d1; /* 灰色邊框 */
  border-radius: 8px; /* 圓角 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影效果 */
}

/* 選中的法院 */
.selected-courts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.selected-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 刪除按鈕 */
.remove-btn {
  background: none;
  border: none;
  color: #0e0d0d;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

.remove-btn:hover {
  color: #e43c3c; /* 鼠標懸停時的紅色 */
}

.advanced-filters {
  display: flex;
  flex-direction: column;
}

.advanced-filters h3 {
  display: flex;
  justify-content: space-between; /* 標題與新增按鈕分開 */
  align-items: center;
}

.advanced-filter-content {
  margin-top: 10px;
}

.advanced-filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 8px;
  }

  .remove-btn {
    background: none;
    border: none;
    color: #ff4d4f;
    cursor: pointer;
  }

  .remove-btn:hover {
    color: #e43c3c;
  }


}

