:host {
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%;  
  box-sizing: border-box;
  background-color: #ccd9ff40;
}

.content {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
}


// 左邊文字區域
.text-area{
  width: 35%;
  height: 35rem;
  background-color: #ffffff;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0 0 15px gray;
}

h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}


.nav {
  width: 200px;
  height: 5px;
  background-color: #005593;
  margin-bottom: 10%;
}

.update-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;

}

label {
  font-size: 1rem;
  color: #333;
}

// input 的樣式
.form-control {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 100%;
}

.btn-submit {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.btn-submit:active {
  background-color: #2a5c89;
}

