@font-face {
  font-family: 'GenKiMin';
  src: url('../../../../public/GenKiMin2TW-M.otf');
}

:host {
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%;  
  box-sizing: border-box;
  background-color: #ccd9ff40;
}

.container {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  flex-direction: column; /* 讓內容垂直排列 */
}


.text-area {
  margin: 0 auto;
  width: 50%;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 0 15px gray;
}

h2 {
  font-family: 'GenKiMin' , 'sans-serif';
  color: #333;
  font-weight: bold;
}


.nav {
  width: 200px;
  height: 5px;
  background-color: #005593;
  margin-bottom: 2rem;
}

.update-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;

}

label {
  font-size: 20px;
  color: #333;
}

// input 的樣式
.form-control {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 100%;
}

.btn-submit {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #005593;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.btn-submit:active {
  background-color: #2a5c89;
}

