@font-face {
  font-family: 'GenKiMin';
  src: url('../../../../public/GenKiMin2TW-M.otf');
}

:host {
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%;  
  box-sizing: border-box;
  background: linear-gradient(110deg, #8ca6f4, #e4efff);
}

.container {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  flex-direction: column; /* 讓內容垂直排列 */
}


.text-area {
  margin: 0 auto;
  width: 90%;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 0 15px gray;
}

h2 {
  font-family: 'GenKiMin' , 'sans-serif';
  color: #333;
  font-weight: bold;
}


.nav {
  width: 600px;
  height: 5px;
  background-color: #005593;
  margin-bottom: 2rem;
}

.update-form {
  margin-bottom: 1.5rem;
  
  span {
    font-size: 22px;
    color: #032f7b;
    font-weight: bold;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.option {
  align-items: center;
  font-size: 20px;

  input {
    margin-right: 20px;
  }

  input[type="radio"] {
    transform: scale(1.5); /* 調整縮放比例 */
  }
}



// input 的樣式
.form-control {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 60%;
}

.input-area {
  margin-top: 2rem;

  label {
    font-size: 20px;
    color: #333;
    margin-top: 1.5rem;
  }
}


.btn-submit , .btn-cancel {
  width: 20%;
  margin-top: 3rem;
  margin-right: 2rem;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #005593;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit {
  background-color: #005593;
  color: white;
}

.btn-cancel {
  color: rgb(0, 0, 0);
  background-color: #f7f7f7;
  border: 2px solid #c8c8c8;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.btn-submit:active {
  background-color: #2a5c89;
}

.btn-cancel:hover {
  background-color: #7f7f7f;
}

.btn-cancel:active {
  background-color: #959595;
}

