<mat-toolbar>
  <span>選擇法院</span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>


<mat-dialog-content class="mat-text">
  <form [formGroup]="selectCourtform">
    <div class="form-content">
      <section class="example-section" formGroupName="toppings">

        <!-- Checkbox 選擇法院 -->
        <h4>選擇法院</h4>
        <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
        <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>
        <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p>
      </section>

      <!-- 顯示選擇結果 -->
      <section class="example-section">
        <h4>搜尋地區法院:</h4>
        <ul>
          @if (selectCourtform.get('toppings.pepperoni')?.value) {
            <li>Pepperoni</li>
          }
          @if (selectCourtform.get('toppings.extracheese')?.value) {
            <li>Extra Cheese</li>
          }
          @if (selectCourtform.get('toppings.mushroom')?.value) {
            <li>Mushroom</li>
          }
        </ul>
      </section>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="submit()">
    <mat-icon>save</mat-icon> 選擇
  </button>
  <button mat-raised-button mat-dialog-close>
    <mat-icon>cancel</mat-icon> 關閉
  </button>
</mat-dialog-actions>
