<mat-toolbar>
  <span>選擇法條</span>
  <button mat-icon-button mat-dialog-close class="close_icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
@for (item of case; track $index) {
  <p><mat-checkbox [(ngModel)]="item.selected" >{{item.name}}</mat-checkbox></p>
}

<mat-dialog-content class="mat-text">
  <form [formGroup]="selectLawform">
    <div class="form-content">
      <section class="example-section" formGroupName="toppings">
        <!-- Checkbox 選擇法院 -->
        <h4>選擇法條</h4>
        @if(selectedCase == "殺人"){
          <p><mat-checkbox formControlName="case271">刑法第271條:普通殺人罪</mat-checkbox></p>
          <p><mat-checkbox formControlName="case272">刑法第272條:殺直系血親尊親屬罪</mat-checkbox></p>
          <p><mat-checkbox formControlName="case273">刑法第273條:義憤殺人罪</mat-checkbox></p>
          <p><mat-checkbox formControlName="case274">刑法第274條:母殺嬰兒罪</mat-checkbox></p>
        }
      </section>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="submit()">
    <mat-icon>save</mat-icon> 選擇
  </button>
  <button mat-raised-button mat-dialog-close>
    <mat-icon>cancel</mat-icon> 關閉
  </button>
</mat-dialog-actions>
