.background_img{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0.35;
  z-index: 0;
  width: 450px;
  height: 450px;
  background-size: cover;
  background-image: url("../../public/libra.png");
  background-repeat: no-repeat;
}
