<app-toolbar></app-toolbar>
<div class="select-container">
  <div class="select-option">
    <span>判決年度</span>
    <select>
      <option value="option1" selected>89</option>
      <option value="option2">90</option>
      <option value="option3">91</option>
      <option value="option4">92</option>
      <option value="option5">93</option>
      <option value="option6">94</option>
      <option value="option7">95</option>
      <option value="option8">96</option>
      <option value="option9">97</option>
      <option value="option10">98</option>
      <option value="option11">99</option>
      <option value="option12">100</option>
      <option value="option13">101</option>
      <option value="option14">102</option>
      <option value="option15">103</option>
      <option value="option16">104</option>
      <option value="option17">105</option>
      <option value="option18">106</option>
      <option value="option19">107</option>
      <option value="option20">108</option>
      <option value="option21">109</option>
      <option value="option22">110</option>
      <option value="option23">111</option>
      <option value="option24">112</option>
      <option value="option25">113</option>
    </select>
  </div>

  <div>
    <span>至</span>
    <select>
      <option value="option1" selected>89</option>
      <option value="option2">90</option>
      <option value="option3">91</option>
      <option value="option4">92</option>
      <option value="option5">93</option>
      <option value="option6">94</option>
      <option value="option7">95</option>
      <option value="option8">96</option>
      <option value="option9">97</option>
      <option value="option10">98</option>
      <option value="option11">99</option>
      <option value="option12">100</option>
      <option value="option13">101</option>
      <option value="option14">102</option>
      <option value="option15">103</option>
      <option value="option16">104</option>
      <option value="option17">105</option>
      <option value="option18">106</option>
      <option value="option19">107</option>
      <option value="option20">108</option>
      <option value="option21">109</option>
      <option value="option22">110</option>
      <option value="option23">111</option>
      <option value="option24">112</option>
      <option value="option25">113</option>
    </select>
  </div>

  <div class="select-case">
    <select>
      <option value="" selected>選擇案件</option>
      <option value="case1">殺人罪</option>
      <option value="case2" disabled>強盜罪</option>
      <option value="case3" disabled>貪汙罪</option>
    </select>
  </div>
</div>

<div class="select-container2">
  <div class="select-court">
    <select>
      <option value="" selected>選擇法院</option>
      <option value="court1">臺灣臺南地方法院</option>
      <option value="court2">臺灣臺北地方法院</option>
      <option value="court3">臺灣士林地方法院</option>
      <option value="court4">臺灣臺東地方法院</option>
    </select>
  </div>

  <div class="select-law">
    <select>
      <option value="" selected>選擇法條</option>
      <option value="law1">刑法271條</option>
      <option value="law2">刑法272條</option>
      <option value="law3">刑法273條</option>
      <option value="law4">刑法274條</option>
      <option value="law4">刑法275條</option>
    </select>
  </div>
</div>
<router-outlet></router-outlet>