<div class="content">

  <div class="register-info">
    <h3 style="font-weight: bold;">成為會員</h3>
    <h6 style="font-weight: bold;">註冊帳號</h6>
    <div class="nav"></div>
    <div class="input-info">
      <label>請輸入Email</label>
      <input type="text">
      <label>請輸入密碼</label>
      <input type="text">
    </div>
    <div class="btn">
      <button mat-raised-button (click)="goRegister()">註冊</button>
      <button mat-raised-button (click)="goBack()">取消</button>
    </div>
  </div>

  <div class="pic"></div>

</div>
