@font-face {
  font-family: 'TaipeiSansTCBeta';
  src: url('../../../../public/TaipeiSansTCBeta-Bold.ttf');
}

:host{
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%; 
  box-sizing: border-box;
  background-color: #ccd9ff40;
}


.register-info {
  margin: 0 auto;
  width: 35%;
  height: 80vh;
  padding-top: 2rem;

  h2 {
    font-family: 'TaipeiSansTCBeta' , 'sans-serif';
  }

  .nav {
    width: 200px;
    height: 5px;
    background-color: #005593;
    margin-bottom: 2rem;
  }

  h5 {
    font-family: 'TaipeiSansTCBeta' , 'sans-serif';
  }

  .input-info {
    margin-top: 1rem;
  }

  .email-area {
    height: 5rem
  }

  .pwd-area {
    height: 5rem
  }

  .input-email {
    width: 100%;
    max-width: 100%;
    background-color: white;
    border: 2px solid #005593;
  }

  .input-email:focus {
    border: 2px solid #10b981;
  }

  ::ng-deep .p-password {
    width: 100%;
    max-width: 100%;
  }

  ::ng-deep .p-password input.p-inputtext {
    width: 100% ;
    max-width: 100% ;
    background-color: white;
    border: 2px solid #005593;
  }

}


.btn-area {
  display: flex;
  justify-content: end;
  margin-top: 7rem;
  gap: 10px;
}

.btn {
  width: 9rem;
  height: 3rem;
  background-color: #b9e1ff;
  border: none;
  color:rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: #8ebbff;
}


