<div class="content">

  <div class="register-info">
    <h3 style="font-weight: bold;">成為會員</h3>
    <h6 style="font-weight: bold;">註冊帳號</h6>
    <div class="nav"></div>

    <div class="input-info">
      <div class="email-area">
        <label style="display: block;">請輸入Email</label>
        <input type="text" class="input-email ng-invalid ng-dirty " pInputText [(ngModel)]="email"
          (keyup)="updateEmailForm()" />
        @if (errorMessage) {
        <small style="color: red; display: inline-block; margin-left: 1%">{{errorMessage}}</small>
        }
      </div>

      <div class="pwd-area">
        <label style="display: block; margin-top: 20px;">請輸入密碼</label>
        <p-password class="input-psw ng-invalid ng-dirty " [(ngModel)]="rawPwd" [feedback]="false"
          [toggleMask]="true" />
        <label style="display: block; margin-top: 20px;">請再次輸入密碼</label>
        <p-password class="input-psw ng-invalid ng-dirty " [(ngModel)]="confirmPwd" (keyup)="pwdValidation()"
          [feedback]="false" [toggleMask]="true" />
        @if (errorMessage2) {
        <small style="color: red; display: inline-block; margin-left: 1%">{{errorMessage2}}</small>
        }
      </div>
    </div>

    <div class="btn-area">
      <button class="btn" (click)="goRegister()">註冊</button>
      <button class="btn" (click)="goBack()">取消</button>
    </div>
  </div>

  <div class="pic"></div>

</div>
