@font-face {
  font-family: 'GenKiMin';
  src: url('../../../../public/GenKiMin2TW-M.otf');
}

:host{
  display: block;
  margin: 0; 
  padding: 0; 
  width: 100%; 
  box-sizing: border-box;
  background-color: #ccd9ff40;
}

.container {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  flex-direction: column; /* 讓內容垂直排列 */
}

.register-info {
  margin: 5px auto;
  width: 50%;
  min-height: 75vh;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 15px gray;
  position: relative; /* 設置父容器為定位基準 */


  h2 {
    font-family: 'GenKiMin' , 'sans-serif';
    font-weight: bold;
  }

  .nav {
    width: 20rem;
    height: 5px;
    background-color: #005593;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 22px;
    font-family: 'GenKiMin' , 'sans-serif';
    margin-top: 2rem;
  }

  .input-info {
    margin-top: 1rem;
  }

  .email-area {
    height: 5rem
  }

  .pwd-area {
    height: 5rem
  }

  .input-email {
    width: 100%;
    max-width: 100%;
    background-color: white;
    border: 2px solid #dedcdc;
  }

  .input-email:focus {
    border: 2px solid #10b981;
  }

  ::ng-deep .p-password {
    width: 100%;
    max-width: 100%;
  }

  ::ng-deep .p-password input.p-inputtext {
    width: 100% ;
    max-width: 100% ;
    background-color: white;
    border: 2px solid #dedcdc;
  }

}


.btn-area {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.btn {
  width: 9rem;
  height: 2.5rem;
  background-color: #005593;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: #8ebbff;
}


