p {
  font-weight: bold;
}

.condition {
  font-weight: bold;
  color: #0039bf;
}

.search {
  margin-top: 20%;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  background-color: #f9fafe;
  display: flex;
  justify-content: space-between;
}

.basic-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  color: black;
  border: 5px solid !important;;
}

.keywords {
  margin-bottom: 20px;
  font-weight: bold;
}

.advanced-search-left, .advanced-search-right {
  padding: 10px;
}



