.show-search-btn {
  text-align: end;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* 搜尋結果的左右佈局 */
.search-result-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.case-list {
  flex: 1.5;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 10px;

  .clickable {
    color: #007bff;
    cursor: pointer;
  }

}

.case-details {
  flex: 2;
  overflow-y: auto;
  padding: 10px;
}


.p-field{
  input{
    display: block;
    width: 20rem;
  }

  p-multiselect{
    height: 30px;
    width: 20rem;
    border-radius: 2px;
    background-color: #f8f8f8;
  }


}


.display-button {
  padding: 10px 20px;
  margin: 10px;
  border: none; // 去掉邊框
  border-radius: 30px;
  background-color: #91b2ff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; // 增加顏色變換的過渡效果
  display: block;
}

// 按鈕懸停時的樣式
.display-button:hover {
  background-color: #b7cbf0; // 設置懸停時的背景顏色
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
.page-numbers {
  display: flex;
  gap: 5px;
}
.ellipsis {
  margin: 0 5px;
}
