<div class="search-area">
  <h3>關鍵字搜尋</h3>
  <div class="input-search-button">
    <input [(ngModel)]="keyWords">
    <button type="button" class="btn btn-secondary btn-sm" (click)="confirm()">搜尋</button>
  </div>

  <div class="case-type">
    <mat-icon style="cursor: pointer">filter_alt</mat-icon>
    <p>搜尋案件類型</p>
    <button type="button" class="btn btn-outline-dark btn-sm" [class.selected]="selectedButton == '刑法'"
      (click)="toggleButton('刑法')">
      刑法
    </button>
    <button type="button" class="btn btn-outline-dark btn-sm" [class.selected]="selectedButton == '民法'"
      (click)="toggleButton('民法')">
      民法
    </button>
  </div>
</div>


<!-- 進階條件 -->
<div class="bottom-area">
  <p>
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      進階篩選條件
    </button>
  </p>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">

      <!-- 進階條件中的搜尋 -->
      <div class="layout-container">
        <!-- 左邊的 Accordion -->
        <div class="card flex justify-center accordion-container">
          <p-accordion value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>裁判案由</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  <input pInputText id="username" aria-describedby="username-help" pSize="small" [(ngModel)]="inputCase" />
                  <small id="username-help" style="margin-left: 0.3rem ;">請輸入案由(例如:傷害)</small>
                </p>
              </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
              <p-accordion-header>選擇法院</p-accordion-header>
              <p-accordion-content>
                <div class="m-0">
                  <div class="card flex justify-center">
                    <p-multiselect [options]="groupedCourts" [group]="true" [(ngModel)]="inputCourts"
                      (ngModelChange)="test()" placeholder="選擇法院" scrollHeight="250px" display="chip"
                      styleClass="w-full md:w-30" appendTo="body">
                      <ng-template let-group #group>
                        <div class="flex items-center">
                          <span>{{ group.label }}</span>
                        </div>
                      </ng-template>
                    </p-multiselect>
                  </div>
                </div>
              </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
              <p-accordion-header>法條搜索</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  <input pInputText id="username" aria-describedby="username-help" pSize="small" [(ngModel)]="inputLaw" />
                  <small id="username-help">請輸入法條(例如:刑法第277條)</small>
                </p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>

        <!-- 右邊的 Accordion -->
        <div class="card flex justify-center accordion-container">
          <p-accordion value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>裁判字號</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  <select [(ngModel)]="inputCaseYear">
                    <option>年度</option>
                    <option>90</option>
                    <option>91</option>
                    <option>92</option>
                    <option>93</option>
                  </select>
                  <input>字第<input>號
                </p>
              </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
              <p-accordion-header>裁判期間</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  <p-datepicker [(ngModel)]="startDate"  [showButtonBar]="true" appendTo="body" size="small" dateFormat="yy.mm.dd" placeholder="年/月/日"/>
                  <span style="padding-left: 0.3rem ; padding-right: 0.3rem;">至</span>
                  <p-datepicker [(ngModel)]="endDate" [showButtonBar]="true" appendTo="body" size="small" dateFormat="yy.mm.dd" placeholder="年/月/日"/>
                </p>
              </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="2">
              <p-accordion-header>裁判種類</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  <select [(ngModel)]="caseType">
                    <option>種類</option>
                    <option>判決</option>
                    <option>裁定</option>
                  </select>
                </p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
      </div>






    </div>
  </div>
</div>
