
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.css */

.mat-mdc-dialog-surface {
  background-color: #ffffff !important;
}

.p-accordioncontent-content {
  background-color: transparent !important;
  color: #ffffff !important; /* 自訂內容文字顏色 */
}

.p-multiselect-overlay{
  background-color: rgb(240, 240, 240) !important;
  color: #666666 !important;
}

.p-multiselect-option{
  color: black !important;
}

.p-drawer{
  background-color: white !important;
  color: black !important;
}

:root{
  --p-checkbox-background:#ffffff !important;
  --p-multiselect-option-focus-background:#a5a5a5 !important;
  --p-multiselect-hover-border-color: #40ee2c !important;
  --p-inputtext-background: #ffffff !important;
  --p-inputtext-color: #334155 !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//全文瀏覽頁面 工具提示文字
// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.tooltip-overrides((
    supporting-text-size: 24px,
    supporting-text-line-height:25px,
  ));
}
